* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: var(--text-color);
  font-family: "Inter", sans-serif;
}

:root {
  --bg-color: #1f2023;
  --primary-color: #eaff6a;
  --secondary-color: #bb85fc;
  --tertiary-color: #03dac6;
  --surface-color: #2d2d2d;
  --text-color: #ffffff;

  --shine-animation: shine 4s linear infinite;

  color: var(--text-color);
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  background: var(--bg-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  background-color: var(--bg-color);
}

/* .container {
  min-height: 100vh;
  padding: 6rem 10rem 0 10rem;
} */

.navbar {
  height: 15vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
}

.navbar img {
  width: 3rem;
  margin-right: auto;
}

.navbar a {
  text-decoration: none;
  color: var(--text-color);

  transition: color 250ms ease;
}

.navbar a:hover {
  color: var(--tertiary-color);
}

.presentation-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100vh !important;
}

@media (min-width: 768px) {
  .presentation-section {
    margin: 0rem 10rem;
  }
}

.presentation-section .presentation-title-wrapper {
  margin-top: 4rem;
}

.presentation-section .presentation-title-wrapper h3 {
  font-size: 1.5rem;
  font-weight: 400;
  position: relative;
  bottom: -0.5rem;
  margin-bottom: 0.7rem;
}

@media (min-width: 768px) {
  .presentation-section .presentation-title-wrapper h3 {
    font-size: 2.5rem;
  }
}

.presentation-section .presentation-title-wrapper h1 {
  line-height: 1em;
  font-size: 4rem;
  font-weight: bold;
  background: linear-gradient(
    45deg,
    var(--primary-color),
    var(--secondary-color)
  );
  margin-bottom: 1rem;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: fadein 1s, var(--shine-animation);
}

@media (min-width: 768px) {
  .presentation-section .presentation-title-wrapper h1 {
    font-size: 7rem;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes shine {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(-360deg);
  }
}

.presentation-section .presentation-title-wrapper h2 {
  width: 0;
  font-size: 1.7rem;
  font-weight: 400;
  white-space: nowrap;
  margin-bottom: 1rem;

  overflow: hidden;
  border-right: 4px solid;

  animation: typing 2s steps(27) 1s both, blink 0.5s step-end infinite alternate;
}

@media (min-width: 768px) {
  .presentation-section .presentation-title-wrapper h2 {
    font-size: 3.5rem;
  }
}

@keyframes typing {
  to {
    width: 20.7ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.presentation-title-wrapper h2 span {
  background-color: var(--primary-color);
  color: var(--bg-color);
  display: inline-block;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.presentation-title-wrapper p {
  width: 100%;
}

@media (min-width: 768px) {
  .presentation-title-wrapper p {
    width: 60%;
  }
}

.down-button {
  display: flex;
  align-self: center;
  background-color: var(--text-color);
  margin-top: auto;
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  margin-bottom: 3rem;
  text-decoration: none;

  animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
  0% {
    transform: translatey(0rem);
  }
  50% {
    transform: translatey(-1rem);
  }
  100% {
    transform: translatey(0rem);
  }
}

.down-button i {
  font-size: 2rem;
  text-align: center;
  color: var(--bg-color);
  margin: auto;
}

.skills-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.skills-section h2 {
  position: relative;
  font-size: 4rem;
  font-weight: bold;
}

.skills-section h2::before {
  content: "";
  display: block;
  position: absolute;
  height: 0.5rem;
  width: 7.5rem;
  bottom: -7px;
  background: linear-gradient(
    45deg,
    var(--primary-color),
    var(--secondary-color)
  );

  animation: var(--shine-animation);
}

.skills-section p {
  padding-top: 2rem;
}

.skills-section .card {
  position: relative;
  background-color: var(--surface-color);
  border-radius: 1rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  align-items: center;
  padding: 1.5rem 2rem;

  animation: var(--shine-animation);
  transition: all 500ms ease;
}

.skills-section .card:hover {
  transform: translateY(-1rem);
}

.skills-section .card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 1rem;
  padding: 4px;
  background: linear-gradient(
    45deg,
    var(--primary-color),
    var(--secondary-color)
  );
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.skills-section .card p {
  padding: 0;
  font-weight: 300;
  text-align: center;
}

.skills-section .card h3 {
  text-align: center;
}

.skills-section .card i {
  font-size: 6rem;
  color: var(--primary-color);
}

.skills-section .card svg {
  width: 12rem;
  height: 6rem;
  fill: var(--primary-color);
}

.projects-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.projects-section h2 {
  position: relative;
  font-size: 4rem;
  font-weight: bold;

  margin-bottom: 2rem;
}

.projects-section h2::before {
  content: "";
  display: block;
  position: absolute;
  height: 0.5rem;
  width: 8rem;
  bottom: -8px;
  background: linear-gradient(
    45deg,
    var(--primary-color),
    var(--secondary-color)
  );

  animation: var(--shine-animation);
}

.projects-section .projects-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.projects-section .projects-row img {
  width: 35%;
  object-fit: contain;

  transition: all 1s ease;
}

.projects-section .projects-row img:hover {
  transform: scale(1.1);
}

.projects-row .info-project-column {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  width: 30%;
}

.projects-row .info-project-column h3 {
  padding-bottom: 2rem;
  font-size: 1.8rem;
}
.projects-row .info-project-column h3::before {
  content: "";
  position: relative;
  inset: 0;
  padding: 4px;
  margin-right: 0.5rem;
  background-color: var(--secondary-color);
}

.projects-row .info-project-column p {
  line-height: 1.8;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  background-color: var(--surface-color);
}

footer p {
  font-size: 0.8rem;
  margin: 0;
}
